body {  
    background-color:lab(97.93% 0.01 -0.01);
    color   :  #0d0d0d;
font-size : 12 px ; 

}
h1 {
    color: red;
    font-size: 1em;
    background-color: aqua;
    width: 200px ;
    padding: 20px  ;
    border-radius: 50px;
}